.signup {
  display: flex;
  flex-direction: column;
  position: absolute;
  /* height: 100vh; */
  min-height: 100%;
  width: 100%;
  background-color: #1c287b;
  align-items: center;
  justify-content: center;
}

.signup__container {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  height: fit-content;
  padding: 40px;
  gap: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 50px;
}

.signup__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  /* padding: 10px; */
}

.signup__form label {
  padding-left: 20px;
}

.signup__form input {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  background-color: #efeeee;
  border: 0px solid transparent;
  padding-left: 20px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: inherit;
  /* outline: none; */
  outline-width: 0px;
  outline-color: #efeeee;
  transition: 200ms;
}

.signup__form input:focus {
  outline-width: 3px;
  outline-color: cornflowerblue;
}

.signup__form button {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  background-color: #efeeee;
  border: 0px solid transparent;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: inherit;
  font-weight: 500;
  background-color: #1c287b;
  color: #fff;
  cursor: pointer;
  transform: 200ms;
}

.signup__form button:hover {
  background-color: cornflowerblue;
  color: #fff;
}

.signup__divider {
  width: 350px;
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 20px; */
  align-items: center;
}

.signup__divider hr {
  height: 0;
  width: 40%;
  border: 1px solid #efeeee;
}

.signup__divider span {
  color: #757575;
  font-weight: 500;
}

.signup__login_btn {
  width: 350px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
  transform: 200ms;
}

.signup__login_btn:hover {
  background-color: cornflowerblue;
  color: #fff;
  border: 0px solid transparent;
}

.login__button_google {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid black;
  margin-top: 5px;
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: 500;
  cursor: pointer;
  background-color: #fff;
  transform: 200ms;
}

.login__button_google:hover {
  background-color: cornflowerblue;
  color: #fff;
  border: 0px solid transparent;
}

.login__button_google img {
  height: 25px;
  margin-right: 1rem;
  background-color: #fff;
  padding: 3px;
  border-radius: 50%;
}
